.profile-head {
    transform: translateY(5rem)
}

body {
    background: #1c1c1c;
    background: linear-gradient(#0f0f0f, #171717);
    min-height: 100vh;
    overflow-x: hidden
}


.meupost {
    background: #212121;

}

.modalcolor {
     #261f1f;

}

.file{
  display:block;
  position: relative;
  width: 100px;
  height: 100px;
  background: url(https://cdn-icons-png.flaticon.com/512/4685/4685700.png) no-repeat center center;
  background-size: cover;
}

.file input{
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
}