{% extends 'base.html' %}



{% block body %}
<div class="container mt-3" style="color: grey">
    <h1>COMUNIDADE IMPRESSIONADORA</h1>
    <hr>
    {% for post in posts %}
        <div class="row mt-4 p-3 meupost">
            <div class="col col-3">
                <img src="{{ url_for('static', filename='fotos_perfil/{}'.format(post.autor.foto_perfil)) }}" alt="..." width="200" class="meupost rounded mb-2 ms-2 me-3 mb-3 img-thumbnail meupost" style="--bs-bg-opacity: .5;"><br>
                <h4 class="ms-2"><strong>{{ post.autor.username }}</strong></h4>
                <div class="mt-3 row justify-content-center">
                    {% if 'Não Informado' in post.autor.cursos or post.autor.cursos == '' %}
                        <button type="button" class="btn btn-outline-light mt-1" disabled>Nenhum Curso informado</button>
                    {% else %}
                        {% for curso in post.autor.cursos.split(';') %}
                            <button type="button" class="btn btn-outline-light mt-1" disabled> {{ curso }}</button>
                        {% endfor %}
                    {% endif  %}
                </div>
            </div>
            <div class="col col-9 pt-5">
                <div>
                    <a href="{{ url_for('exibir_post', post_id=post.id) }}" style="color: white; text-decoration: none"><h3>{{ post.titulo }}<small class="text-muted" style="font-size: 15px">- Data De Criação {{ post.data_criacao.strftime('%d/%m/%Y') }}</small></h3></a>
                </div>
                <p>{{ post.corpo }}</p>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}