{% extends 'base.html' %}



{% block body %}
<div>
   <div class="row ">
    <div class="col-md-5 mx-auto meupost" style="--bs-bg-opacity: .5;">
        <div class="shadow rounded overflow-hidden meupost mt-2" style="--bs-bg-opacity: .5;">
            <div class=" pt-0 pb-4 cover meupost " style="--bs-bg-opacity: .5;">
                <div class="media align-items-end profile-head meupost text-white" style="--bs-bg-opacity: .5;">
                    <hr style="color: white">
                    <div class="profile mr-3 pt-3">
                        <img src="{{ foto_perfil }}" alt="..." width="200" class="meupost rounded mb-2 ms-2 me-3 mb-3 img-thumbnail meupost" style="--bs-bg-opacity: .5;">
                        <a href="{{ url_for('editar_perfil') }}" class="btn btn-outline-light btn-sm btn-block m-3" style="--bs-bg-opacity: .5;">
                            Editar Perfil
                        </a>
                        <hr style="color: white">
                    </div>
                    <div class="media-body mb-5 text-white">
                        <h4 class="m-1">{{ current_user.username}}</h4>
                        <p class="small mb-4"> <i class="fas fa-map-marker-alt m-1"></i>{{ current_user.email }}</p>
                    </div>
                </div>
            </div>
            <div class="meupost p-4 d-flex justify-content-end text-center text-white">
                <ul class="list-inline me-5 border border-white p-4 meupost">
                    <li class="list-inline-item">
                        {% if 'Não Informado' in current_user.cursos or current_user.cursos == '' %}
                            <h5 class="font-weight-bold mb-0 d-block">0</h5><small class="text-muted"> <i class="fas fa-image mr-1"></i>Cursos</small>
                        {% else %}
                            <h5 class="font-weight-bold mb-0 d-block">{{ current_user.cursos.count(';') + 1 }}</h5><small class="text-muted"> <i class="fas fa-image mr-1"></i>Cursos</small>
                        {% endif %}
                    </li>
                    <li class="list-inline-item">
                        <h5 class="font-weight-bold mb-0 d-block">{{ current_user.contar_posts() }}</h5><small class="text-muted"> <i class="fas fa-user mr-1"></i>Posts</small>
                    </li>
                </ul>
            </div>
            <div class="meupost p-4  justify-content-end text-center text-white">
                <h3 class="container">Cursos</h3><br>
                {% if 'Não Informado' in current_user.cursos or current_user.cursos == '' %}
                    <button type="button" class="btn btn-outline-light mb-5" disabled>Nenhum Curso informado</button>
                {% else %}
                    {% for curso in current_user.cursos.split(';') %}
                        <button type="button" class="btn btn-outline-light mb-5" disabled> {{ curso }}</button>
                    {% endfor %}
                {% endif  %}
            </div>
        </div>
    </div>
</div>
</div>
{% block form_editar %}
{% endblock %}
{% endblock %}