{% extends 'base.html' %}



{% block body %}
<div class="container mt-3" style="color: grey" xmlns="http://www.w3.org/1999/html">
    <hr>
        <div class="row mt-4 p-3 meupost">
            <div class="col col-3">
                <img src="{{ url_for('static', filename='fotos_perfil/{}'.format(post.autor.foto_perfil)) }}" alt="..." width="200" class="meupost rounded mb-2 ms-2 me-3 mb-3 img-thumbnail meupost" style="--bs-bg-opacity: .5;"><br>
                <h4 class="ms-2"><strong>{{ post.autor.username }}</strong></h4>
                <div class="mt-3 row justify-content-center">
                    {% if 'Não Informado' in current_user.cursos or current_user.cursos == '' %}
                        <button type="button" class="btn btn-outline-light mt-1" disabled>Nenhum Curso informado</button>
                    {% else %}
                        {% for curso in current_user.cursos.split(';') %}
                            <button type="button" class="btn btn-outline-light mt-1" disabled> {{ curso }}</button>
                        {% endfor %}
                    {% endif  %}
                </div>
            </div>
            <div class="col col-9 pt-5">
                <h3 style="color: white">{{ post.titulo }}
                    <small class="text-muted" style="font-size: 15px">- Data De Criação {{ post.data_criacao.strftime('%d/%m/%Y') }}
                        {% if form %}
                        -<a href="#form-editar-post" style="color: white; text-decoration: none"> Editar Post</a>/<a href="#" data-bs-toggle="modal" data-bs-target="#excluir-post" style="color: red; text-decoration: none"> Excluir Post </a>
                        {% endif %}
                    </small>
                </h3>
                <p>{{ post.corpo }}</p>
            </div>
        </div>
</div>

{% if form %}
<div class="mt-5">
        <div class="container text-white mt-5">
            <div class=" text-white">
                <span class="d-block p-2   text-white"></span>
                <div class="container">
                    <div style="color: grey" class="container">
                            <hr>
                    </div>
                        <div class="container border border-white p-0 m-1">
                            <form method="POST" action="" id="form-editar-post" class="m-5 p-5">
                                {{ form.csrf_token }}
                                <legend> Editar Post</legend>
                                <fieldset>
                                    <div class="form-group">
                                        {{ form.titulo.label(class="form-control-label") }}
                                        {% if form.titulo.errors %}
                                        {{ form.titulo(class="form-control is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for erro in form.titulo.errors %}
                                                {{ erro }}
                                            {% endfor %}
                                        </div>
                                        {% else %}
                                            {{ form.titulo(class="form-control") }}
                                        {% endif %}
                                    </div>
                                    <div class="form-group">
                                        {{ form.corpo.label(class="form-control-label") }}
                                        {% if form.corpo.errors %}
                                        {{ form.corpo(class="form-control is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for erro in form.corpo.errors %}
                                                {{ erro }}
                                            {% endfor %}
                                        </div>
                                        {% else %}
                                            {{ form.corpo(class="form-control") }}
                                        {% endif %}
                                    </div>
                                </fieldset>
                                <hr>
                                <div class="mt-5">
                                    {{ form.botao_submit_criar_post(class="btn btn-outline-light") }}
                                </div>
                            </form>
                            <span class="d-block p-2 text-white"></span>
                            <span class="d-block p-2 text-white"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div style="color: grey">
                <hr>
            </div>
        </div>
    </div>
{% endif %}


<!-- Modal -->
<div class="modal fade" id="excluir-post" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content bg-dark text-white">
      <div class="modal bg-dark text-white">
        <h5 class="modal-title bg-dark text-white" id="exampleModalLabel">Excluir Post</h5>
        <button type="button" class="btn btn-light btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body bg-dark text-white">
          <h3>Excluir Post</h3>
          <div class="pb-3"><hr></div>
        Você quer realmente excluir este post? <div> Essa ação não pode ser desfeita</div>
      </div>
      <div class="modal-footer bg-dark text-white">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <form method="POST" action="{{ url_for('excluir_post', post_id=post.id) }}">
            <button type="submit" class="btn btn-danger">Excluir Post</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}